.header{
    position: fixed;
    width: 100%;
    height: 22vh;
    background-color: transparent;
    z-index: 1;
}
/* LOGO */
.header__logo{
    display: none;
}


/* NAVIGATION */
.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2%;
}

.header__nav__link{
    font-size: 1.1vw;
    color: white;
    text-shadow: 1px 1px 2px black
}
.header__nav__link:hover{
    font-weight: 700;
    cursor: pointer;
}

.header__nav__link__logo{
    height: 117px;
    width: 192px;
    transition: all ease-in-out .1s;
}
.header__nav__link__logo:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.header__accueil{
    display: none;
}
/* GESTION BURGER */
.header__burger{
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
}

/* TABLETTE */
@media screen and (max-width: 992px) {
    .header__nav__link{
        font-size: 1.5vw;
    }
    .header__nav__link__logo{
        width: 15vw;
    }
}

/* MOBILE */
@media screen and (max-width: 767px){
    
    .header{
        position: fixed;
        z-index: 1;
        display: flex;
        place-items: center;
        height: 10vh;
    }
    .header__logo{
        display: block;
        position: relative;
        height: 117px;
        width: 110px;
        left: 4%; 
    }
    .header__nav{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        align-items: center;
        right: -100vw;
        top: 0;
        height: 20vh;
        padding: 2rem;
        visibility: hidden;
        background-color: white;
    }
    .show-header .header__nav{
        flex-direction: initial;
        top: 0;
        right: 0;
        width: 40vw;
        height: auto;
        visibility: visible;
        z-index: 1;
        transition: all ease-in-out .2s;
        border-radius: 0%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }    
    .header__nav__link{
        display: block;
        padding: 1.5rem;
        font-size: 3vw;
        text-align: center;
        color: #002F6D;
        text-shadow: none;
    }
    .mobile-logo{
        display: none;
    }
    .header__burger{
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1;
    }
    .show-header .burger-bar,
    .burger-bar::before,
    .burger-bar::after{
        background: #002F6D;
    }
   
    .header__burger:hover{
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 27px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background:white;
        transition: all .3s ease-in-out;
    }
    .show-header .burger-bar::after, .burger-bar::before{
        background: #002F6D;
    }
    .burger-bar::before,
    .burger-bar::after{
        content: "";
        position: absolute;
        left: 0;
    }
    .burger-bar::before{
        transform: translateY(-12px);
    }
    .burger-bar::after{
        transform: translateY(12px);
    }
    .show-header .burger-bar::before{
        transform: rotate(45deg);
    }
    .show-header .burger-bar::after{
        transform: rotate(-45deg);
    }
    .show-header .burger-bar{
        width: 0;
        background: transparent;
    }

}